/* Jumbotron */

.jumbotron {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
  margin-bottom: 0;
}

/* Navbar
================================ */

.navbar {
  margin-bottom: 0;
}

/* Styles for the Get Help row */
#get-help {
  background-color: #000;
  margin-bottom: 40px;
}

#sitemap {
  background-color: lightblue;
}

/* Carousel
================================ */

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}
